{% extends "layouts/base.html" %}
{% load static %}

{% block title %} My First Index HTML Page {% endblock title %}

{% block content %}
    <h1 style="color: blue;">Welcome to My Book Library</h1>
    <p style="color: white; background-color: black;">Discover our collection of books. Browse our <a href="{% url 'books.list_books' %}">book list</a> or learn <a href="{% url 'books.aboutus' %}">about us</a>.</p>
    
    <a href="https://www.w3schools.com/html/default.asp">Learn more about HTML</a>
    <hr>
    
    <h2>This is heading 2</h2>
    <p>This is some other text. <br> with newline <br> and another line</p>
    <hr>

    <h2>Popular Genres</h2>
    <p>Explore our extensive collection across multiple genres including Fiction, Mystery, Science Fiction, and more. <br> Find your next great read <br> from our curated selections</p>
    <hr>

    <h2>Featured Books</h2>
    <p>Check out our latest additions and bestsellers. <br> Updated regularly with new titles <br> handpicked by our librarians</p>
{% endblock content %}