<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Task 1: Links</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <h2>Task 1: Links and Layout Customization</h2>
    
    <a href="https://www.qu.edu.sa" target="_blank" class="qu-link">Go to QU website (open a new tab)</a>
    <a href="https://www.qu.edu.sa" target="_self" class="qu-link">Go to QU website (open in the same page/tab)</a>
    <a href="https://www.qu.edu.sa" target="_self" class="qu-link">Go to QU website (open in the same page/tab)</a>
</body>
</html>